/*----------NORMATIZAÇÃO------------*/

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke
}

::selection {
    color: whitesmoke;
    background-color: black
}

input,
textarea {
    font-size: 1.3em
}

input {
    text-align: center;
}

textarea {
    resize: none;
}

button,
input[type="submit"] {
    cursor: pointer
}


/*----------CLASSES------------*/

._black-cover {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
}

._wrapper {
    max-width: 1100px;
    /* Espaço total do envolcro */
    padding: 0 4vw;
    /* Tamanho da barreira entre o contúdo interno e a borda da janela */
    margin: auto/* Centralizar wrapper */
}

._hide {
    display: none;
}

._fade {
    opacity: 0;
}

._round-border {
    border-radius: 10px
}

._center-child {
    display: flex;
    flex-flow: column;
    /* Distribuição */
    align-items: center;
    /* Alinhar horizontal (eixo X) */
    justify-content: center/* Alinhar vertical (eixo Y) */
}

._center-X {
    margin: auto
}

._btn {
    text-align: center;

    background-color: transparent;
    border: 2px solid;
    font-size: 0.8em;
    transition: 1s;

    border-radius: 40px;
    width: 150px;
    height: 40px;

    text-transform: uppercase;

    font-weight: bold;
}

._btn:hover {
    transform: scale(1.04, 1.04);
}

/*----------HEADER------------*/

body > header {
    text-align: center;
    width: 100%;
    height: 40vh;
    min-height: 220px;
    background-color: cadetblue;

    color: white;
}

body > header h1 {
    font-size: 6em;
}

body > header h2 {
    color: rgba(255, 255, 255, 0.5)
}

body > header span {
    color: white;
    text-decoration: underline
}

body > header ._btn {
    border-color: white;
    color: white;

    position: absolute;
    right: 20px;
    top: 20px;
}

body > header ._btn:hover {
    background-color: white;
    color: black
}

#frase {
    text-align: center;
    width: 100%;
    margin: 20px 0;
    font-size: 2em;
    color: gray;

}

/*----------INTRO------------*/

#intro {
    margin-top: 20px;
    display: none
}

#ex {
    width: 800px;
    height: 500px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px
}

#ex header {
    border-radius: 10px 10px 0 0;
    height: 180px;
    background-color: dimgray;
    position: relative;
}

#ex header h1 {
    color: white;
    font-size: 2.2em
}

#ex .tipo {
    width: 100%;
    background-color: gainsboro;
    padding: 5px 0;
    color: dimgray
}

#ex header .send-img {
    height: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/*----------HOT LISTS------------*/

#hot-lists ._wrapper > header{
    display: flex;
    justify-content: center;
    align-items: center
}

#hot-lists ._wrapper > header img{
    height: 35px
}

#hot-lists ._wrapper > header > h1 {
    text-align: center;
    margin: 20px 5px;
    font-size: 2em;
}

.lists {
    display: flex;
    justify-content: center
}

.lists .list {
    border-radius: 10px;
    width: 280px;
    cursor: pointer;
    transition: 0.5s;
    margin: 10px;
}

.lists .list:hover {
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    transform: scale(1.01,1.01)
}

.lists .list header{
    box-sizing: border-box;
    padding: 10px;

    border-radius: 10px 10px 0 0;

    min-height: 100px
}

.lists .list img {
    max-height: 80px;
    margin-bottom: 15px
}

.lists .list header h1 {
    font-size: 1.8em
}

.lists .list h2 {
    font-size: 1.5em;
    text-align: center;
    widows: 100%;
    background-color: gainsboro;
    padding: 5px 0;
    color: dimgray;

    border-radius: 0 0 10px 10px;
}

/*----------NAV------------*/

nav,
nav .container {
    display: flex
}

nav {
    width: 100%;
}

nav > h1 {
    width: 8%;
    font-size: 1em;
    padding: 10px 5px;

    word-break: keep-all;
    text-align: center;

    background-color: dimgray;
    color: white
}

nav .container {
    width: 92%;
}

nav .container .topico {
    flex-flow: row;
    min-width: 180px;
}

nav .container .topico img {
    max-height: 25px
}
