/*----------NORMATIZAÇÃO------------*/

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    overflow-x: hidden /* FIXME: gambs */
}

::selection {
    color: whitesmoke;
    background-color: black
}

input,
textarea {
    font-size: 1.3em
}

input {
    text-align: center;
}

textarea {
    resize: none;
}

button,
input[type="submit"] {
    cursor: pointer
}


/*----------CLASSES------------*/

._img-bg {
    height: 100%;
    width: 100%;
    position: absolute !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
    top: 0;
    left: 0
}

._blur {
    filter: blur(15px);

    transform: scale(1.1);
}

._wrapper {
    max-width: 1100px;
    /* Espaço total do envolcro */
    padding: 0 4vw;
    /* Tamanho da barreira entre o contúdo interno e a borda da janela */
    margin: auto/* Centralizar wrapper */
}

._center-child {
    display: flex;
    flex-flow: column;
    /* Distribuição */
    align-items: center;
    /* Alinhar horizontal (eixo X) */
    justify-content: center/* Alinhar vertical (eixo Y) */
}

._btn {
    text-align: center;

    background-color: transparent;
    border: 2px solid;
    font-size: 0.8em;
    transition: 1s;

    border-radius: 40px;
    width: 150px;
    height: 40px;

    text-transform: uppercase;

    font-weight: bold;
}

._btn:hover {
    transform: scale(1.04, 1.04);
}

/*----------NAV------------*/

.navbar {
    min-height: 80px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.navbar-brand {
    display: flex;
    align-items: center
}

.navbar-brand img {
    height: 50px;
}

.navbar-brand h1 {
    font-size: 1.3em;
    margin: 0 5px;
    font-weight: 300
}

.navbar-brand span {
    font-weight: 500
}

.navbar-nav{
    font-size: 1.1em
}

/*----------MAIN------------*/

main > section h1{
    font-size: 2.5rem
}

/*----------HEADER / CAROUSEL / SLIDER------------*/

header{
    height: 85vh;
    width: 100%;
    position: relative !important;
    margin-top: 80px;

}

header > .container {
    height: 100%;
    max-width: 900px;

    color: white;
    text-shadow: 2px 2px rgba(0,0,0,0.1);

    text-align: center;
}

header h1{
    font-size: 3rem !important;
    font-weight: 900 !important
}

header h2{
    color: gainsboro
}

header h2 span{
    text-decoration: underline;
}

header p{
    font-size: 1.3rem !important;
}

/*----------SERVIÇOS------------*/
#servicos{
    background-color: white;
    padding: 20px
}

/*----------AVALIACAO------------*/

#avaliacao {
    padding: 2rem;
    background-color: #2980b9;
}

#avaliacao h1{
    color: white
}

.nota{

    border-radius: 5px
}

#avaliacao blockquote{
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.2em;
    text-align: center;
    color: dimgray;
    background-color: whitesmoke;
    border-radius: 5px
}

#avaliacao cite img{
    height: 2rem;
    border-radius: 5px;
    border: 2px solid white
}


/*----------BLOG------------*/
#blog{
    background-color: whitesmoke;

    padding: 30px 80px;

    flex-flow: column !important;
}

#blog > h1{
}

.post{
    margin: 10px;
    transition: 0.3s;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.post:hover{
    transform: scale(1.02,1.02)
}

.conteudo{
    padding: 15px;
    color: black;
    background-color: white;


    border-radius: 5px 5px 0 0
}

.conteudo h1{
    text-align: center;
    font-weight: 500;
}

.conteudo p{
    text-align: justify
}

.post button{
    width: 100%;
    padding: 10px;
    color: white;
    border-radius: 0 0 5px 5px;
    background-color: #2980b9
}

#blog > button{
    width: 100%;
    max-width: 400px;
    padding: 10px;
    text-transform: capitalize;
}

/*----------CONTATO------------*/
#contato{
    background-color: gainsboro;
    padding: 20px
}
