/*----------NORMATIZAÇÃO------------*/

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}

::-moz-selection {
    color: whitesmoke;
    background-color: black
}

::selection {
    color: whitesmoke;
    background-color: black
}

input,
textarea {
    font-size: 1.3em
}

input {
    text-align: center;
}

textarea {
    resize: none;
}

button,
input[type="submit"] {
    cursor: pointer
}


/*----------CLASSES------------*/

._img-bg {
    height: 100%;
    width: 100%;
    position: absolute !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
    top: 0;
    left: 0
}

/* NOTE: needs overflow hidden on parent */
._blur {
    -webkit-filter: blur(15px);
    filter: blur(15px);

    -webkit-transform: scale(1.1);

    transform: scale(1.1);
}

._center-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    /* Distribuição */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* Alinhar horizontal (eixo X) */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center/* Alinhar vertical (eixo Y) */
}

/*----------NAV------------*/

.navbar {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    min-height: 10vh;
}

.navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.02);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.02);
}

.navbar-brand img {
    height: 50px;
}

.navbar-brand h1 {
    font-size: 1.3em;
    margin: 0 5px;
    font-weight: 300
}

.navbar-brand span {
    font-weight: 500
}

.navbar-nav {
    font-size: 1.1em
}

/*----------MAIN------------*/

main > section h1 {
    font-size: 2.5rem
}

/*----------HEADER / CAROUSEL / SLIDER------------*/

header {
    height: 90vh;
    width: 100%;
    position: relative !important;
    overflow: hidden;
    margin-top: 75px

}

header > .container {
    height: 100%;
    max-width: 900px;

    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.1);

    text-align: center;
}

header h1 {
    font-size: 3rem !important;
    font-weight: 900 !important
}

header h2 {
    color: gainsboro
}

header h2 span {
    text-decoration: underline;
}

header p {
    font-size: 1.3rem !important;
}

/*----------SERVIÇOS------------*/

#servicos {
    background-color: white;
    padding: 20px
}

/*----------AVALIACAO------------*/

#avaliacao {
    padding: 2rem;
    background-color: #2980b9;
}

#avaliacao h1 {
    color: white
}

.nota {

    border-radius: 5px
}

#avaliacao blockquote {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.2em;
    text-align: center;
    color: dimgray;
    background-color: whitesmoke;
    border-radius: 5px
}

#avaliacao cite img {
    height: 2rem;
    border-radius: 5px;
    border: 2px solid white
}


/*----------BLOG------------*/

#blog {
    background-color: whitesmoke;

    padding: 30px 0;

    -webkit-box-orient: vertical !important;

    -webkit-box-direction: normal !important;

    -ms-flex-flow: column !important;

    flex-flow: column !important;
}

.post {
    margin: 10px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    max-width: 500px;
}

.post:hover {
    -webkit-transform: scale(1.02, 1.02);
    transform: scale(1.02, 1.02)
}

.conteudo {
    padding: 15px;
    color: black;
    background-color: white;

    min-height: 250px;


    border-radius: 5px 5px 0 0
}

.conteudo h1 {
    text-align: center;
    font-weight: 500;
}

.conteudo p {
    text-align: justify;

    min-height: 150px
}

.post button {
    width: 100%;
    padding: 10px;
    color: white;
    border-radius: 0 0 5px 5px;
    background-color: #2980b9
}

#blog > button {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    text-transform: capitalize;
}

/*----------CONTATO------------*/

#contato {
    background-color: #343a40;
    padding: 20px;

    color: white
}

#contato button {
    width: 100%;
    padding: 10px
}

/*----------MEDIAS------------*/

@media (max-width: 600px) {
    .navbar-brand {
        position: static
    }
}
